@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body, #__next {
  height:100%;
  margin: 0;
  padding:0;
  width: 100%;
 }
 
 #layoutWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height:100%;
  width: 100%;
 }
 
 main {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

* {
  box-sizing: border-box;
  text-align: center;
}
